:root {
    --font-size: 18px;
    --width-site: 1440px;
}

html {
    font-size: var(--font-size);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--width-site);
    margin: 0 auto;
}

.productName {
    max-width: 250px;
}

.productDescription {
    max-width: 350px;
}

.productPic {
    width: 25%;
    height: 25%;
}

span {
    font-weight: bold;
}

.quantity {
    margin-bottom: 1rem;
}

#quantity {
    width: 3.2rem;
    margin-left: 1rem;
}

.discount {
    color: limegreen;
}

.discount > span {
    color: black;
}

.barre {
    text-decoration: line-through;
    color: red;
}

.add {
    border-radius: 15px;
    padding-inline: 20px;
    margin-bottom: 1rem;
}

.table{
    margin-bottom: 0;
}

.bold{
    font-weight: bold;
}